<h2 class="footer-h">Ice Cube</h2>
<p class="media-text">Нащі соціальні мережі</p>
<ul class="media">
  <li class="item-media">
    <a href="" class="link-media"
      ><svg class="icon-media" width="30" height="30">
        <use href="/icon.svg#icon-fb" aria-label=""></use>
      </svg>
    </a>
  </li>
  <li class="item-media">
    <a href="" class="link-media"
      ><svg class="icon-media" width="30" height="30">
        <use href="/icon.svg#icon-instagram" aria-label=""></use>
      </svg>
    </a>
  </li>
</ul>
<p class="rule">Ice Cube &#169; 2024</p>
