<section class="container fqs-container">
  <h2 class="fqs-h">Що таке Ice Cube?</h2>
  <p class="fqs-content">
    Ice Cube - ідеальна модульна система пергол, зроблена власноруч. Комплекти і
    кранштейни з яким ви можете будувати свої власні унікальні конструкції.
  </p>
  <ul class="orders-list">
    <li class="order-item">
      <img
        src="//cdn.shopify.com/s/files/1/0097/7960/9662/t/11/assets/kits.png?v=6068771497619792949"
        alt=""
        class="order-img"
      />
      <h3 class="subtitle">Комплекти</h3>
      <p class="order-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi odio
        aliquam quia laudantium quisquam nemo exercitationem eaque, dolores cum
        obcaecati adipisci natus sed tenetur possimus velit fugit dignissimos
        ipsum iusto?
      </p>
    </li>
    <li class="order-item">
      <img
        src="//cdn.shopify.com/s/files/1/0097/7960/9662/t/11/assets/brackets.png?v=2083252964180375010"
        alt=""
        class="order-img"
      />
      <h3 class="subtitle">Кранштейни</h3>
      <p class="order-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam maiores
        asperiores labore dolores impedit odit dicta in non beatae, sed
        reiciendis est, minima harum quas possimus accusantium ipsa ut animi!
      </p>
    </li>
  </ul>
  <a href="" class="button-order-shop"></a>
</section>
