<div class="contacts">
  <a href="../contacts.html" class="contacts-link">Контакти</a>
  <a href="" class="nav-link leptop">
    <svg class="icon-nav">
      <use href="./img/icon.svg#icon-shopping-cart"></use>
    </svg>
  </a>
</div>
<div class="nav-container">
  <nav class="navigation">
    <a href="../index.html" class="logo">Ice<span>Cube</span></a>
    <ul class="nav-list-leptop">
      <li class="nav-item-leptop"><a href="" class="nav-link">Комплекти</a></li>
      <li class="nav-item-leptop"><a href="" class="nav-link">Кріплення</a></li>
    </ul>
    <ul class="nav-list">
      <!-- <li class="nav-item">
          <a href="" class="nav-link">
            <svg class="icon-nav" width="18" height="18">
              <use href="../public/icon.svg#icon-search"></use>
            </svg>
          </a>
        </li> -->
      <li class="nav-item">
        <a href="" class="nav-link">
          <svg class="icon-nav">
            <use href="./img/icon.svg#icon-shopping-cart"></use>
          </svg>
        </a>
      </li>
      <!-- <li class="nav-item">
          <a href="" class="nav-link">
            <svg class="icon-nav" width="18" height="18">
              <use href="../public/icon.svg#icon-account-client"></use>
            </svg>
          </a>
        </li> -->
      <li class="nav-item">
        <a href="" class="nav-link">
          <svg class="icon-nav" width="30" height="30">
            <use href="./img/icon.svg#icon-burger"></use></svg
        ></a>
      </li>
    </ul>
  </nav>
</div>
