<section class="hero">
  <div class="hero-container">
    <img
      class="img-hero"
      src="https://cdn-icons-png.flaticon.com/512/2458/2458132.png"
      alt=""
    />
    <p class="hero-text">Ice Cube</p>
    <h1 class="visually-hidden">Ice Cube</h1>
  </div>
  <div class="container-slogan">
    <div class="slogan-position">
      <h2 class="name-slogan">
        Створюйте та насолоджуйтесь перголами від Ice Cube
      </h2>
      <h3 class="slogan">
        Ice Cube пропонує швидкі та прості рішення, які виведуть ваш відпочинок
        на новий рівень!
      </h3>
    </div>
  </div>
</section>
