<section class="order-sec">
  <ul class="list-order-grid">
    <li class="item-order-grid">
      <img
        src="//toja.ca/cdn/shop/t/24/assets/GL_4x4Kits.jpg?v=99565184076882349171671741777"
        alt=""
        class="img-grid"
      />
      <div class="container-grid">
        <h2 class="order-h">Комплект для бесідок 4Х4</h2>
        <p class="text-shop">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis
          neque sit provident quam quas! Aspernatur.
        </p>
        <a href="" class="link-grid">Магазин 4Х4</a>
      </div>
    </li>
    <li class="item-order-grid">
      <img
        src="//toja.ca/cdn/shop/t/24/assets/GL_6x6Kits.jpg?v=151278976879062947861671741779"
        alt=""
        class="img-grid"
      />
      <div class="container-grid">
        <h2 class="order-h">Комплект для бесідок 6Х6</h2>
        <p class="text-shop">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia optio
          fuga aspernatur quae impedit perferendis.
        </p>
        <a href="" class="link-grid">Магазин 6Х6</a>
      </div>
    </li>
    <li class="item-order-grid">
      <img
        src="//toja.ca/cdn/shop/t/24/assets/GL_6x6Kits.jpg?v=151278976879062947861671741779"
        alt=""
        class="img-grid"
      />
      <div class="container-grid">
        <h2 class="order-h">Інщі комплекти</h2>
        <p class="text-shop">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptas
          voluptatum, pariatur culpa nulla voluptatem veritatis nisi deleniti et
          officiis quasi ab voluptate repellendus illo.
        </p>
        <a href="" class="link-grid">Магазин</a>
      </div>
    </li>
  </ul>
</section>
