.container{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}
.fqs-h{
    
    color: #0070ce;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0.5px;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.fqs-content{
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin-bottom: 70px;
}

.subtitle{
    line-height: 1.35;
    letter-spacing: 6px;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.order-item .subtitle{
    margin-bottom: 20px;
}

.order-item:nth-child(2){
    margin-top: 70px;
}

.order-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
}

.button-order-shop{
    display: block;
    text-align: center;
    max-width: 100px;
    font-size: 14px;
    letter-spacing: 3px;
    padding: 13px 0;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    margin-top: 48px;
    background-color: #333149;
    color: #fff;
}

@media screen and (min-width:768px){
   .fqs-h{
    font-size: 35px;
   }

   .fqs-content{
    font-size: 26px;
   }

   .subtitle{
    font-size: 30px;
   }
   .order-text{
    font-size: 22px;
   }

   .button-order-shop{
    max-width: 130px;
    padding: 20px 4px;
    border-radius: 7%;
    
   }
}

@media screen and (min-width:1024px){
    .orders-list{
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
    }
    .order-item{
        flex-basis: calc((100% - 25%) / 2);
    }
    .fqs-content{
       width: 60%;
       margin: auto; 
       font-size: 22px;
    }
    .order-item:nth-child(2){
        margin: 0;
    }

    .subtitle{
        font-size: 22px;
    }
    .order-text{
        font-size: 18px;
        width: 80%;
        margin: 0 auto;
    }

    
}