
.container-grid{
    margin: 0 auto;
    width: 90%;
    padding: 50px 0;
}

.text-shop{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
}

.link-grid{
    display: block;
    max-width: 170px;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 13px 10px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    margin-top: 48px;
    background-color: #333149;
    color: #fff;
    text-align: center;
}

@media screen and (min-width:768px) {
    .container-grid{
        width: 70%;
    }

    .link-grid{
        font-size: 20px;
        padding: 20px 10px ;
    }
}